:root {
	--__sl-font: "Soehne", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--mono-font-family: "Soehne Mono", monospace;
	--sl-text-3x: 58px;
	--sl-text-h2: 28px;
}

/* Light mode colors. */
:root[data-theme="light"] {
	--default-color: #E2DFE9;
	--on-surface-color: #EDEAF3;
	--sl-color-text-accent: #101010;
	--sl-color-bg-nav: var(--on-surface-color);
	--sl-color-bg-sidebar: var(--on-surface-color);
	--sl-color-hairline: transparent;
	--sl-color-hairline-light: #908E94;
	--sl-color-black: var(--default-color);

	--sl-color-red-high: #F04367;
	--sl-color-red: #ED254E;
	--sl-color-red-low: #ED254E;

	--sl-color-green-high: #28E6A1;
	--sl-color-green: #16DB93;
	--sl-color-green-low: #16DB93;

	--sl-color-orange-high: #FFDC60;
	--sl-color-orange: #FFCF23;
	--sl-color-orange-low: #FFCF23;

	--sl-color-blue-high: #EDEAF3;
	--sl-color-blue: #EDEAF3;
	--sl-color-blue-low: #EDEAF3;

	--sl-color-purple-high: #EDEAF3;
	--sl-color-purple: #EDEAF3;
	--sl-color-purple-low: #EDEAF3;
}

/* Dark mode colors. */
:root[data-theme="dark"] {
	--default-color: #101010;
	--on-surface-color: #2E2D30;
	--sl-color-text-accent: #71b1ff;
	--sl-color-bg-nav: var(--on-surface-color);
	--sl-color-bg-sidebar: var(--on-surface-color);
	--sl-color-hairline: transparent;
	--sl-color-hairline-light: #908E94;
	--sl-color-white: #E2DFE9;

	--sl-color-red-high: #F04367;
	--sl-color-red: #ED254E;
	--sl-color-red-low: #ED254E;

	--sl-color-green-high: #28E6A1;
	--sl-color-green: #16DB93;
	--sl-color-green-low: #16DB93;

	--sl-color-orange-high: #FFDC60;
	--sl-color-orange: #FFCF23;
	--sl-color-orange-low: #FFCF23;

	--sl-color-blue-high: #2E2D30;
	--sl-color-blue: #2E2D30;
	--sl-color-blue-low: #2E2D30;

	--sl-color-purple-high: #2E2D30;
	--sl-color-purple: #2E2D30;
	--sl-color-purple-low: #2E2D30;
}

body {
	background-color: var(--default-color);
}

.sl-link-card {
	background-color: var(--on-surface-color) !important;
	border: none !important;
	box-shadow: none !important;
	border-radius: 24px !important;
	padding: 16px 22px 16px 22px !important;
}

.action {
	border-radius: 24px !important;
	padding: 14.4px 20px 14.4px 20px !important;
}

.minimal {
	border: 1px solid #101010 !important;
}

h1 {
	font-size: 58px;
	font-weight: 400;
}

h2 {
	font-size: 29px;
	font-weight: 400;
}

.site-title span {
	font-size: 14px;
	font-weight: 400;
}

.sl-markdown-content {
	margin: 0 !important;
}

.hero {
	padding-block: 0 !important;
	padding-bottom: 4rem !important;
}

button[data-open-modal] {
	border-radius: 24px !important;
}

dialog {
	border-radius: 24px !important;
}

starlight-menu-button button {
	top: 44px !important;
	inset-inline-end: 44px !important;
}

:root[data-theme="light"] .starlight-aside, :root[data-theme="light"] .starlight-aside__title {
	color: #2E2D30;
}

:root[data-theme="dark"] .starlight-aside, :root[data-theme="dark"] .starlight-aside__title {
	color: #EDEAF3;
}

.starlight-aside code {
	background-color: transparent;
}

.MathJax * {
	display: inline !important;
}

.sidebar-content {
	border-radius: 24px;
}

.ss-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  float: left;
}

.ss-content {
  height: 100%;
  width: calc(100% + 18px);
  padding: 0 0 0 0;
  position: relative;
  overflow: auto;
  box-sizing: border-box;
}

.ss-content.rtl {
  width: calc(100% + 18px);
  right: auto;
}

.ss-scroll {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  width: 9px;
  border-radius: 4px;
  top: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.ss-hidden {
  display: none;
}

.ss-container:hover .ss-scroll,
.ss-container:active .ss-scroll {
  opacity: 1;
}

.ss-grabbed {
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

 .starlight-aside__content a {
    color: #71b1ff !important; 
 }