---
import type { Props } from "@astrojs/starlight/props";
import DefaultSidebar from "@astrojs/starlight/components/Sidebar.astro";
import developerSidebar from "./developerSidebar";
import operatorSidebar from "./operatorSidebar";
import grantsSidebar from "./grantsSidebar";
import Menu from "./../components/Menu.astro";
import { getNextPrevLinks } from "./paginationHelper";

// Determine which sidebar to use based on the current path
const isDeveloperPage = Astro.url.pathname.startsWith("/developer");
const isGrantPage = Astro.url.pathname.startsWith("/grant");
const isOperatorPage = Astro.url.pathname.startsWith("/operator");

let currentPath = Astro.url.pathname;

let sidebar;
if (isDeveloperPage) {
    sidebar = developerSidebar(currentPath);
} else if (isOperatorPage) {
    sidebar = operatorSidebar(currentPath);
} else if (isGrantPage) {
    sidebar = grantsSidebar(currentPath);
} else {
    // This is the default menu as specified in the `astro.config.mjs` file
    sidebar = Astro.props.sidebar;
}

const { nextLink, prevLink } = getNextPrevLinks(sidebar, currentPath);

Astro.props.pagination.next = nextLink;
Astro.props.pagination.prev = prevLink;

const props = { ...Astro.props, sidebar };
---

<div class="mobile-menu">
    <Menu className="flex-column" />
</div>

<DefaultSidebar {...props}><slot /></DefaultSidebar>

<style>
    .mobile-menu {
        display: flex;
        flex-direction: column;
    }

    @media (min-width: 56rem) {
        .mobile-menu {
            display: none;
        }
    }
</style>
