---
import config from "virtual:starlight/user-config";
import type { Props } from "../props";

import Search from "virtual:starlight/components/Search";
import SiteTitle from "virtual:starlight/components/SiteTitle";
import ThemeSelect from "virtual:starlight/components/ThemeSelect";

/**
 * Render the `Search` component if Pagefind is enabled or the default search component has been overridden.
 */

const isRoot = Astro.url.pathname === "/";
const shouldRenderSearch =
	config.pagefind ||
	config.components.Search !== "@astrojs/starlight/components/Search.astro";
---

<div class="header_container sl-flex">
	<div class="sl-flex site-title__wrapper">
		<SiteTitle {...Astro.props} />
	</div>
	<div class="header_container__right sl-flex">
		{
			!isRoot && shouldRenderSearch && (
				<div class="md:sl-flex right-group" style="margin-right: 3rem;">
					<Search {...Astro.props} />
				</div>
			)
		}
		{isRoot && shouldRenderSearch && <Search {...Astro.props} />}
		<div class="sl-hidden md:sl-flex right-group">
			<ThemeSelect {...Astro.props} />
		</div>
	</div>
</div>

<style>
	.site-title__wrapper {
		display: flex;
		align-items: center;
	}

	.header_container,
	.header_container__right {
		height: 100%;
		align-items: center;
	}

	.header_container {
		justify-content: space-between;
	}

	.header_container__right {
		gap: var(--sl-nav-gap);
	}
</style>
